node-red/configs/.flows.json.backup
[{"id":"d580bfc2.d7c72","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d9dc699.e010ca","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6638136b.e865cc","type":"api-call-service","z":"d580bfc2.d7c72","name":"Feeder is broken","server":"3d9dc699.e010ca","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.is_feeder_broken","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":260,"wires":[[]]},{"id":"4a3fb133.18895","type":"server-state-changed","z":"d580bfc2.d7c72","name":"Pet feeder sensor","server":"3d9dc699.e010ca","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.is_feeder_broken","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0.0","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":200,"y":320,"wires":[["6638136b.e865cc"],["4099d18.3a50c3"]]},{"id":"4099d18.3a50c3","type":"api-call-service","z":"d580bfc2.d7c72","name":"Feeder is fixed","server":"3d9dc699.e010ca","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.is_feeder_broken","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":400,"wires":[[]]}]